.Static-container {
    margin: auto;
    width: 80%;
    height: 600px;
    background-color: #EDF6F6;
}

.data-display {
    width: 50%;
    margin: auto;
   background-color: #4A90E2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 20px;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

ul,
li {
    list-style: none;
    margin-top: 10px;
    font-size: 1.2rem;
    /* Adjusted font size for better readability */
}

.controls {
    display: flex;
    justify-content: space-between;
    /* Improved alignment */
    margin-bottom: 20px;
    /* Added spacing */
}

.month-select {
    background-color: #EDF6F6;
    width: 150px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    /* Adjusted font size */
}